<div class="wrapper">
  <div class="container--AtmApp">
    <div class="concave-interaction-area">
      <div class="row">
        <div class="screen-panel col-6">

          <div *ngIf="isLoginPage">
              <div [ngClass]="classList">{{screenText}}
                <br><br><br>
                The current time is: {{this.timeInfo}}
                <br><br><br>
                Please enter your pin:
                <br><br>
                <span *ngFor="let pinNumber of pin">{{pinNumber}}</span> 
                <br><br>
                <div class="error-text" *ngIf="error !== ''">{{error}}</div>
                </div>
          </div>

          <div *ngIf="!isLoginPage">
              <div [ngClass]="classList">{{screenText}} logged in<br></div>
          </div>

        </div>
        <div class="input-panel col-6">
          <div class="row">
            <div class="card-panel col-12 text-center">
              <div>---------------------</div>
            </div>
            <div class="buttons-panel col-12">
              <div>
                <div class="row text-center">
                  <div class="col-4">
                    <div (click)="clickHandler(1)">1</div>
                  </div>
                  <div class="col-4">
                    <div (click)="clickHandler(2)">2</div>
                  </div>
                  <div class="col-4">
                    <div (click)="clickHandler(3)">3</div>
                  </div>
                  <div class="col-4">
                    <div (click)="clickHandler(4)">4</div>
                  </div>
                  <div class="col-4">
                    <div (click)="clickHandler(5)">5</div>
                  </div>
                  <div class="col-4">
                      <div (click)="clickHandler(6)">6</div>
                  </div>
                  <div class="col-4">
                      <div (click)="clickHandler(7)">7</div>
                  </div>
                  <div class="col-4">
                      <div (click)="clickHandler(8)">8</div>
                  </div>
                  <div class="col-4">
                      <div (click)="clickHandler(9)">9</div>
                  </div>
                  <div class="col-4">
                      <div (click)="clickHandler('*')">*</div>
                  </div>
                  <div class="col-4">
                      <div (click)="clickHandler(0)">0</div>
                  </div>
                  <div class="col-4">
                      <div (click)="clickHandler('#')">#</div>
                  </div>
                  <div class="col-4">
                      <div class="cancel" (click)="clickHandler('CANCEL')">CANCEL</div>
                  </div>
                  <div class="col-4">
                      <div class="clear" (click)="clickHandler('CLEAR')">CLEAR</div>
                  </div>
                  <div class="col-4">
                      <div class="ok" (click)="clickHandler('OK')">OK</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
